body {
  background-color: #faf3dd;
  margin: 0;
  text-align: left;
}

h1 {
  color: #ff8a00
}

h3 {
  color: #ff8a00
}

hr {
  border-color: #d1d1d1;
  border-style: dotted none none;
  border-width: 5px;
  height: 0px;
  width: 10%;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */
#navigation-wrapper {
  padding: 0.5rem 20px;
  display: none;
}
.navbar {
  padding: 5px 0 10px;
}
.navbar-nav {
  padding: 15px 0;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  display: none;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Unbuntu';
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.navbar-light .navbar-brand {
  color: black;
}
.navbar-light .navbar-nav > .nav-item > a:hover, .navbar-dark .navbar-nav > .nav-item > a:focus {
    color: #7d7d7d;
}
.navbar-light .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #7d7d7d;
}

#heading {
  color: blue;
}

/* Sidebar */
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 150px;
  height: 100%;
  overflow-x: hidden;
  background: inherit;
}

/* Page Content */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-left: 200px;
}

/* Sidebar styling */
.sidebar-nav {
  padding: 3rem 0 0 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 40px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  font-family: 'Crimson Text', serif;
  color: #000000;
}
.sidebar-nav li a:hover {
  text-indent: 50px;
}

/* Small Screen size */
@media (max-width:768px) {
  #sidebar-wrapper {
    width: 0px;
  }
  #page-content-wrapper {
    padding-left: 15%;
  }
  #navigation-wrapper {
    display: block;
  }
}
