body {
  background-color: #faf3dd;
  margin: 0;
  text-align: left;
}

h3 {
  font-family: 'Roboto', serif;
  font-weight: bold;
}
p {
  font-family: 'Roboto', serif;

}

hr {
  border-color: #d1d1d1;
  border-style: dotted none none;
  border-width: 5px;
  height: 0px;
  width: 10%;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */
#navigation-wrapper {
  padding: 0.5rem 20px;
  display: none;
}
.navbar {
  padding: 5px 0 10px;
}
.navbar-nav {
  padding: 15px 0;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  display: none;
}
.nav-item {
  padding: 0 18px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 45px;
  color: #491a12;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #ff7e7e;
  color: #491a12;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
.navbar-light .navbar-brand {
  color: black;
}
.navbar-light .navbar-nav > .nav-item > a:hover, .navbar-dark .navbar-nav > .nav-item > a:focus {
    color: #7d7d7d;
}
.navbar-light .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #7d7d7d;
}

#heading {
  color: blue;
}

/* Sidebar */
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 175px;
  height: 100%;
  overflow-x: hidden;
  background: inherit;
}

/* Page Content */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-left: 225px;
}

/* Sidebar styling */
.sidebar-nav {
  padding: 2rem 0 0 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 40px;
  line-height: 35px;
}
a.sidebar-option {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #491a12;
}
a.sidebar-option:hover {
  text-decoration: underline;
  text-decoration-color: #ff7e7e;
}
a.sidebar-heading {
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #491a12;
}

/* Small Screen size */
@media (max-width:768px) {
  #sidebar-wrapper {
    width: 0px;
  }
  #page-content-wrapper {
    padding-left: 15%;
  }
  #navigation-wrapper {
    display: block;
  }
}
